<ng-template appPlaceholder></ng-template>
<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <!-- <app-alert [message]="error" *ngIf="error && !isLoading" (close)="onHandleError()"></app-alert> -->
        <form #form="ngForm" (ngSubmit)="onSubmit(form)" *ngIf="!isLoading">
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="email" id="email" class="form-control" ngModel name="email" required email />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" ngModel name="password" required
                       minlength="6" />
            </div>
            <div>
                <button class="btn btn-primary" type="submit"
                        [disabled]="!form.valid">{{ isLoginMode ? 'Login' : 'Sign Up' }} </button>
                |
                <button class="btn btn-primary" (click)="onSwitchMode()" type="button">Switch
                    to {{ isLoginMode ? 'Sign Up' : 'Login' }}</button>
            </div>
        </form>
        <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>
    </div>
</div>
